NEXT_PUBLIC_SUPABASE_URL= https://ihjbvhymqjzavqbonvnz.supabase.co
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloamJ2aHltcWp6YXZxYm9udm56Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTg1NDE4OCwiZXhwIjoyMDk3NDMwMTg4fQ.fCIas5cBE7KMCisFHUVT_XqGFb_hKjXzzzP_HHQ5t_A
OTP_BOT_TOKEN= 8870217506:AAGVLEVhp3v50w7-ECFXkx7u-sBQIFmaPfY
NEXT_PUBLIC_SITE_URL=https://viltrum-card-kappa.vercel.app
